.mainBlock {
  max-width: 508px;
  width: 100%;
  min-height: 100vh;
  background-color: #282A2E;
  padding: 50px 150px 50px 80px;
}

@media (max-width: 1869px) {
  .mainBlock {
    max-width: 400px;
  }
}

@media (max-width: 1350px) {
  .mainBlock {
    max-width: 250px;
    padding: 50px 20px 50px 20px;
  }
}